.container{
    align-items: center;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.container h{
    color: aqua;
    font-size: 2.5rem;

}

.container p{
    color: black;
    font-size: 1.5rem;
}